body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: floralwhite;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

h1 {
  order: 1;
  width: 100%;

}
.mainNav {
  font-size: 40px;
  display: inline;
}

h3 {
  text-align: center;
}

.smallNav {
  display: inline;
  margin-top: 10px;
  margin-right: 5px;


}

header {
  display: flex;
  background-color: lightblue;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  height: 30px;
  justify-content: flex-end;
}


table {
  order: 3;
  text-align: center;
  margin: auto;
  border-spacing: 10px;
}

#newFlight {
  order: 2;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  width: 100%;
}

#details-page {
  order: 4;
  text-align: left;
}

.details {
  color: #057ead;
}

#destinations-page {
  order: 5;
  width:100%;
}

a {
  color: #057ead;
}

a:hover {
  color:rgb(28, 28, 184);
}
