<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav class="smallNav">
            <a href="/flights">ALL FLIGHTS</a>
            <a href="/flights/new">ADD FLIGHT</a> 
        </nav>
    </header>
    <main>
        <h1>Flight Details</h1>
        <section id="details-page">
            <div><span class="details"><b>Airline:</b></span> <%= flight.airline %></div>
            <div><span class="details"><b>Airport:</b></span> <%= flight.airport %></div>
            <div><span class="details"><b>Flight #:</b></span> <%= flight.flightNo %></div>
            <div><span class="details"><b>Departs:</b></span> <%= flight.departs %></div>
          </section>
    </main>
</body>
</html>